<!DOCTYPE html>
<html lang="en">

<head>

    
    <% include partials/metas %>

    <% include partials/themes %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <% include partials/navigation %>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            MONGODBAPI
                            <small>1.0.7</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-file"></i> MONGODBAPI > Index
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        Mongodbapi is a <a href="https://www.mongodb.org/" target="_black">MongoDB</a> interface designed to create CRUD operations (create, read, update and delete <a href="https://docs.mongodb.com/manual/core/document/#bson-document-format" target="_black">documents</a>).
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Prerequisites</h2>
                        <ul>
                            <li>
                                <a href="https://nodejs.org/en/" target="_black">Node 4.4.2 or upper version</a>
                            </li>
                            <li>
                                <a href="https://www.mongodb.com/" target="_black">Mongodb</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Installation</h2>
                        <pre>
                            <code class="languageGit-git">
$ npm install mongodbapi
                            </code>
                        </pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <h2>Overview</h2>
                            Managing docs with mongodbapi is very easy, you just need to create  a mongo object, passing a conexion string, and then executing a CRUD operator:
                        </div>

                        <div>
                            <pre>
                                <code class="language-JavaScript">
let mongoapi = require('mongodbapi');

const connection = 'mongodb://127.0.0.1:27017/local';
let mongo = new mongoapi(connection);

let command = { collection: 'test' };
mongo.read(command).then( (result) => {

    console.log(result);

}, (err) => {

    console.log(err);

} );
                                </code>
                            </pre>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Index</h2>
                        mongodbapi support the following operators:
                        <ul>
                            <li>
                                <a href="insert">insert</a>
                            </li>
                            <li>
                                <a href="read">read</a>
                            </li>
                            <li>
                                <a href="update">update</a>
                            </li>
                            <li>
                                <a href="delete">delete</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Related links</h2>
                        <ul>
                            <li>
                                <a href="https://docs.mongodb.com/manual/crud/" target="black">MongoDb manual: CRUD</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include partials/js %>

</body>

</html>
