<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/metas %>

    <% include partials/themes %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <% include partials/navigation %>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            INSERT
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-file"></i> MONGODBAPI > insert
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Description</h2>
                        To add new documents to a collection. The following example insert a new document to the collection 'text':
                    </div>
                        <div>
                            <pre>
                                <code class="language-JavaScript">
let mongoapi = require('mongodbapi');

const connection = 'mongodb://127.0.0.1:27017/local';

let mongo = new mongoapi(connection);
let params = { 
	collection: 'test', 
	document: {'id': 1, 'name': 'test1'} 
};

mongo.insert(params).then( (result) => {

    console.log(result);

}, (err) => {

    console.log(err);

} );
                                </code>
                            </pre>
                        </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Parameters</h2>
                        The <b>insert</b> method require a parameter of type object with the following properties:
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                	<th>Name</th>
                                	<th>Type</th>
                                	<th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        collection
                                    </td>
                                    <td>
                                        text
                                    </td>
                                    <td>
                                    	Name of the collection
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        document
                                    </td>
                                    <td>
                                        object or array of objects 
                                    </td>
                                    <td>
                                        <p>
                                    	Represents a new document in order to be added to the collection. It can be of two types: <b>object</b> or <b>array of objects:</b>
                                        </p>
                                        <p>
                                        <b>object: </b>To add one document
                                        </p>
                                        <p>
                                        <b>array of object: </b>To add many document
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            Example of parameter to insert one document:
                        </div>
                        <div>
                            <pre>
                            <code class="language-JavaScript">
let params = { 
    collection: 'test', 
    document: {'id': 1, 'name': 'test1'} 
};
                            </code>
                            </pre>
                        </div>
                        <div>
                            Example of parameter to insert many documents:
                        </div>
                        <div>
                            <pre>
                            <code class="language-JavaScript">
let params = { 
    collection: 'test', 
    document: [{'id': 1, 'name': 'test1'},{'id': 2, 'name': 'test2'}] 
};
                            </code>
                            </pre>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <h2>Response</h2>
                            The method returns a object with the following properties:
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        status
                                    </td>
                                    <td>
                                        boolean
                                    </td>
                                    <td>
                                        The value will be <b>true</b>, so means no errors was found during the execution 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        insertedCount
                                    </td>
                                    <td>
                                        number 
                                    </td>
                                    <td>
                                        Amount of inserted documents
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        insertedId
                                    </td>
                                    <td>
                                        array 
                                    </td>
                                    <td>
                                        Represent the created ids from mongodb for each document
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                        </div>
                        <div>
                            <pre>
                                <code class="language-JavaScript">
mongo.insert(params).then( (result) => {
    console.log(result);
});
                                </code>
                            </pre>
                            <pre>
                                <code class="languageGit-git">
> { status: true,
  insertedCount: 1,
  insertedId: [ 57f4d0dd765f135c0e5efcb6 ] }
                                </code>
                            </pre>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <h2>Errors</h2>
                            The method can returns a error object with the following properties:
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        status
                                    </td>
                                    <td>
                                        boolean
                                    </td>
                                    <td>
                                        The value will be <b>false</b> so means an error was found
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        code
                                    </td>
                                    <td>
                                        string
                                    </td>
                                    <td>
                                        <p>String whith the following format: <font color="red">err_mongodbapi_<b>xxx</b></font></p>
                                        <p><font color="red"><b>xxx</b></font> represents an internal control number</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        message
                                    </td>
                                    <td>
                                        string 
                                    </td>
                                    <td>
                                        Error message created by mongodbapi
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        messageMongo
                                    </td>
                                    <td>
                                        string 
                                    </td>
                                    <td>
                                        Error message from mongodb
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        trace
                                    </td>
                                    <td>
                                        string 
                                    </td>
                                    <td>
                                        Trace error
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                        </div>
                        <div>
                            <pre>
                                <code class="language-JavaScript">
let mongoapi = require('mongodbapi');

const connection = 'mongodb://bad connection';
let mongo = new mongoapi(connection);
let params = { 
    collection: 'test', 
    document: {'id': 1, 'name': 'test1'} 
};

mongo.insert(params).then( (result) => {

    console.log(result);

}, (err) => {

    console.log(err);

} );
                                </code>
                            </pre>
                            <pre>
                                <code class="languageGit-git">
> { [Error: Database connection failed]
  status: false,
  code: 'err_mongodbapi_000',
  message: 'Database connection failed',
  messageMongo: [Error: invalid port (larger than 65535) with hostname],
  trace: 'Error: Database connection failed\n    at err_mongodbapi_000 (C:\\projects\\node\\mongodbapi\\lib\\basecrud.js:243:12)\n    at C:\\projects\\node\\mongodbapi\\lib\\basecrud.js:122:15\n    at runMicrotasksCallback (node.js:327:7)\n    at nextTickCallbackWith0Args (node.js:420:9)\n    at process._tickCallback (node.js:349:13)' }
                                </code>
                            </pre>
                        </div>
                        <div>
                            <p></p>
                            The insert method can return the following errors:
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <font color="red">err_mongodbapi_000</font>
                                        </td>
                                        <td>
                                            Database connection failed
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font color="red">err_mongodbapi_004</font>
                                        </td>
                                        <td>
                                            Command object was not created correctly: collection and document are mandatory fields
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font color="red">err_mongodbapi_005</font>
                                        </td>
                                        <td>
                                            There was error executing the insert command
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Related links</h2>
                        <ul>
                            <li>
                                <a href="https://docs.mongodb.com/manual/tutorial/insert-documents/" target="black">MongoDb manual: insert</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>
                <div class="row"><div class="col-lg-12"><p></p></div></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include partials/js %>

</body>

</html>
